.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.cta-div {
    display: block;
    margin-left: 75px;
}

.cta-button {
    display: block;
    background-color: black;
    color: white;
    padding: 10px 25px;
    font-size: 20px;
    margin-top: 40px;
}

.hero-image-div {
    display: block;
    max-width: 50%;
    width: 400px;
}

.cta-button-mobile {
    display: none;
    background-color: black;
    color: white;
    padding: 10px 25px;
    font-size: 20px;
    margin-top: 40px;
    width: 90%
}

img {
    width: 100%;
}

h1 {
    line-height: 0.4;
    font-size: 32px;
}

button {
    border: 0;
    outline: none;
}

@media only screen and (max-width: 768px) {
    .hero-section {
        flex-direction: column;
    }
    .cta-div {
        display: block;
        margin-left: 0px;
        text-align: center;
    }
    .cta-button {
        display: none;
    }
    .cta-button-mobile {
        display: block;
    }
    h1 {
        line-height: 1;
        font-size: 32px;
    }
    .hero-subheading {
        text-align: center;
    }
    .hero-image-div {
        margin-top: 40px;
    }
}